<md-content class="md-padding" layout-xs="row" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
        <p><strong>Comprehensive Cover</strong> is the highest level of <a class="new" title="Insurance cover (page does not exist)" href="https://en.wikipedia.org/w/index.php?title=Insurance_cover&amp;action=edit&amp;redlink=1">cover</a> a person can have if they take out <a class="mw-redirect" title="Motor insurance" href="https://en.wikipedia.org/wiki/Motor_insurance">motor insurance</a> in the <a title="United Kingdom" href="https://en.wikipedia.org/wiki/United_Kingdom">United Kingdom</a>. In recent years, Comprehensive Cover has actually gone cheaper than the lesser cover 'Third Party, Fire and Theft' Cover in most cases.</p>
        <p>By taking out Comprehensive Cover, people in the United Kingdom are not only covered for <a class="new" title="Third party claim (page does not exist)" href="https://en.wikipedia.org/w/index.php?title=Third_party_claim&amp;action=edit&amp;redlink=1">third party claims</a> after an incident, they are also covered for damage caused to their own vehicle.</p>
        <p>Depending on the policy there would be different excess payments made to the garage that repairs the vehicle, and insurers normally need to authorise the estimate before repairs can proceed. Once the authorised garage has completed the repairs, the policyholder would then pay that garage their excess payment and the insurers would pay the remainder.</p>
        <p>If the case was non-fault, the insurance company would then chase their financial losses from the other insurance company that they felt were at fault. In some cases, they could be unsuccessful, or due to the lack of evidence only manage to agree 50/50 split and get half their losses back. In some cases the insured would have legal cover to help them recover their own financial un-insured losses, the excess would be included on that.</p>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-button ui-sref="home"> Cancle </md-button>
        <md-button ui-sref="home"> Buy </md-button>
    </div>
</md-content>