<md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
        <h2 class="md-flex">This Site uses Cookies</h2>
    </div>
</md-toolbar>
<md-content flex layout-padding>
    <p>Diese Website verwendet Cookies. Cookies sind kleine Textdateien, die beim Besuch dieser Website in Ihrem Computer dauerhaft oder tempor&auml;r gespeichert werden. Zweck der Cookies ist insbesondere die Analyse der Nutzung dieser Website zur statistischen Auswertung sowie f&uuml;r kontinuierliche Verbesserungen.</p>
	<p>In Ihrem Browser k&ouml;nnen Sie Cookies in den Einstellungen jederzeit ganz oder teilweise deaktivieren. Bei deaktivierten Cookies stehen Ihnen allenfalls nicht mehr alle Funktionen dieser Website zur Verf&uuml;gung.</p>
    <md-button href="http://fabianglaus.ch/hey.swf">Leave this Page</md-button>
    <md-button class="md-raised md-primary" ui-sref="home">I'm Happy with this!</md-button>
</md-content>