<md-content flex layout-padding>
   <h1>Datenschutzerklärung</h1>
    <p>
        <em>
            Der Schutz Ihrer Privatsphäre ist uns ein wichtiges Anliegen. Bitte beachten Sie die folgenden Punkte unserer Datenschutzerklärung (Privacy Policy).
        </em>
    </p>
    <p>
        <strong>Geltungsbereich.</strong>
    </p>
    <p>
        Die Datenschutzerklärung gilt für die Webseite fabianglaus.ch (nachfolgend Glaus Websites). Für fabianglaus.ch-fremde Internetseiten, zu welchen von den
        Glaus Websites ein Link besteht, wird keine Gewähr für die Einhaltung der Datenschutzbestimmungen übernommen.
    </p>
    <p>
        <strong>Verwendung von Informationen.</strong>
    </p>
    <p>
        Sie können grundsätzlich unsere Webseiten besuchen, ohne dass Sie Angaben zu Ihrer Person machen müssen. Einzig unpersönliche Nutzungsdaten wie Ihre
        IP-Adresse, die zuletzt besuchte Seite, der verwendete Browser, Datum, Uhrzeit etc. werden zwecks Erkennung von Trends und zur Verbesserung unseres
        Online-Angebotes anonymisiert ausgewertet («Google Analytics», «WebTrends On Demand»). Daraus werden keine Rückschlüsse auf Ihre Person gezogen.
    </p>
    <p>
        Für die Online-Bestellung bzw. den Kauf gewisser Dienstleistungen und Produkte ist die Angabe Ihrer Daten unumgänglich, so wenn Sie z.B. ein Produkt
        bestellen.
    </p>
    <p>
        <strong>Keine Weitergabe von Informationen.</strong>
    </p>
    <p>
        Ihre personenbezogenen Daten werden weder verkauft noch mit Dritten ausserhalb der Unternehmung geteilt. Ausnahmen: Externe Dienstleister, die für uns im
        Auftrag ihre Anfrage oder Ihre Bestellung abwickeln und die hierfür zwingend notwendigen Daten verarbeiten sowie die anderen Konzessionierten
        Bahnunternehmungen der Schweiz. Es ist gewährleistet, dass alle datenempfangenden Stellen die Anforderungen des Datenschutzes und der Datensicherheit
        einhalten.
    </p>
    <p>
        <strong>Cookies und ähnliche Technologien.</strong>
    </p>
    <p>
        In bestimmten Fällen setzen wir so genannte Cookies ein. Sie können Ihren Browser so einstellen, dass vor dem Speichern eines Cookies eine Warnung am
        Bildschirm erscheint. Sie können auch auf die Vorteile von persönlichen Cookies verzichten. Bestimmte Dienstleistungen können in diesem Fall nicht genutzt
        werden.
    </p>
    <p>
        Um unsere Dienste anbieten zu können, verwenden wir Cookies und andere Erkennungsmöglichkeiten, um Nutzungs- und Leistungsdaten zu erheben. Wir benutzen
        beispielsweise Cookies, um die Zahl der individuellen Besucher einer Webseite oder eines Dienstes zu ermitteln oder um andere Statistiken im Hinblick auf
        den Betrieb unserer Dienste zu erheben.
    </p>
    <p>
        <strong>Aufbewahrung und Sicherung Ihrer Daten.</strong>
    </p>
    <p>
        Die Glaus-Websites ergreifen angemessene Vorsichtsmassnahmen und setzen entsprechende Sicherheitstechnologie ein, um Ihre Daten zu schützen. Sie bleiben
        nur so lange aufbewahrt, wie es im Hinblick auf den Zweck erforderlich ist.
    </p>
    <p>
        <strong>Fragen zum Datenschutz.</strong>
    </p>
    <p>
        Richten Sie Ihre allfälligen Fragen, Korrektur- oder Löschungsbegehren bitte an die folgende E-Mail-Adresse. Wir beantwortet Anfragen innerhalb von 30
        Tagen
    </p>
    <p>
        E-Mail: fabianglaus@me.com
    </p>
    <p>
        <strong>Änderungen dieser Datenschutzerklärung.</strong>
    </p>
    <p>
        Änderungen dieser Datenschutzerklärung durch die Glaus-Websites können jederzeit erfolgen. Bitte konsultieren Sie regelmässig diese Erklärung.
    </p>
    <p>
        <strong>Rechtsgrundlage.</strong>
    </p>
    <p>
        Das Bundesgesetz über den Datenschutz (DSG) bildet die Grundlage dieser Datenschutzerklärung. Link:    <a href="https://www.admin.ch/opc/de/classified-compilation/19920153/index.html">https://www.admin.ch/opc/de/classified-compilation/19920153/index.html</a>
    </p>
    <p>
        Letzte Aktualisierung: 13. Juni 2016
    </p>
    <div>
        <hr align="left" size="1" width="33%"/>
        <div>
            <div id="_com_1">
                <a name="_msocom_1"></a>
                <p>
                    <a href="#_msoanchor_1">[ZF1]</a>
                    <a href="https://privacy.microsoft.com/de-de/privacystatement">https://privacy.microsoft.com/de-de/privacystatement</a>
                </p>
                <p>
                    <a href="http://www.sbb.ch/meta/datenschutz.html">http://www.sbb.ch/meta/datenschutz.html</a>
                </p>
            </div>
        </div>
    </div>
</md-content>